.landing-page .intro {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 1rem;
}

.landing-page .intro .culture,
.landing-page .intro .wrapper {
  
  min-width: 16rem;
}
.landing-page .intro .culture {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  /* background-color: grey; */
}
.landing-page .intro .wrapper {
  flex-basis: 0;
  flex-grow: 2;
  flex-shrink: 2;
  background-color: #EDD8B4;

  display: block;
  /* gap: 1rem; */
  border-radius: 2rem;
  overflow: hidden;
  
}
.landing-page .intro .wrapper .brand,
.landing-page .intro .wrapper .founder {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 16rem;
  max-width: 24rem;
}
.landing-page .intro .wrapper .brand {
  
}
.landing-page .intro .heading>h2 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-family: var(--font-lexend);
  color: var(--brand-toasted-hojicha);
}
.landing-page .intro .heading>p {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--brand);
  /* background-color: blueviolet; */
  padding: 0.25rem 0 1rem;
}
.landing-page .intro .culture>p {
  margin: 0;
  padding: 0;
  font-family: var(--font-inter);
  text-align: justify;
}
.landing-page .intro i {
  font-style: normal;
  color: var(--brand-ember-glow);
}
.landing-page .wrapper .brand {
  background-color: var(--brand-shiro-suna);
  padding: 2rem 1rem;

}
.landing-page .wrapper .brand-logo {
  width: 80%;
  margin: 0 auto 2rem;
}
.landing-page .wrapper .brand-philosophy {
  background-color: var(--bgcolor);
  padding: 1rem;
  border-radius: 1rem;
}
.landing-page .wrapper .founder {
  align-self:  bottom;
}
/*

*/

.landing-page {
  font-family: var(--font-inter);
  
}
.landing-page section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
  justify-content: space-evenly;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 1rem 0;
}
.landing-page section>div {
  min-width: 16rem;
}
.landing-page section>div:first-of-type {
  flex-grow: 1;
  flex-basis: 16rem;
  background-color: aqua;
  margin-bottom: 2rem;
}
.landing-page section>div:last-of-type {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 24rem;
  min-width: 20rem;
}
.landing-page .heading {
  background-color: inherit;
  margin: 2rem auto 1rem;
}
.landing-page .heading:first-of-type {
  margin-top: 0;
}
.landing-page .heading h2 {
  font-size: 2rem;
  color: var(--brand-kuro-tsuchi);
  font-family: var(--font-lexend);
  padding: 0;
  margin: 0 0 0.25rem;
}
.landing-page .heading h2 + p {
  font-family: var(--font-figtree);
  color: var(--brand-ember-glow);
  font-weight: 500;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.landing-page i {
  font-style: normal;
  color: var(--brand-toasted-hojicha);
  font-family: var(--font-nunito);
  font-weight: 500;
}
.landing-page p {
  text-align: justify;
  margin: 0 0 1rem;
}
.landing-page p:last-of-type {
  margin-bottom: 0;
}
.landing-page br {
  line-height: 0 !important;
}
.landing-page div.image {
  display: block;
  width: 100%;
  background-color: gray;
  height: 50px
}
.landing-page div.image::before {
  content: "";
  display: block;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: var(--url);
  background-attachment: scroll;
  background-size: contain;
}
.landing-page .brand-logo {
  background-color: var(--brand-shiro-suna);
  padding: 0;
  border-radius: 2rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  overflow: hidden;
  border: 5px solid var(--brand-shiro-suna);
}
.landing-page .brand-logo>img {
  display: block;
  width: 100%;
  object-fit: contain;
  padding: 2rem;
}
.landing-page .brand-logo>div {
  background-color: var(--bgcolor);
  padding: 2rem;
  text-align: justify;
}
.landing-page .brand-founder {
  border: 2px solid var(--brand-shiro-suna);
  padding: 1rem;
  border-radius: 2rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
.landing-page .brand-founder>img {
  margin-bottom: 1rem;
  border-radius: 1rem;
}
.landing-page .brand-founder>p {
  font-family: Inter;
  font-size: 1.25rem;
  text-align: center;
  padding: 0;
  margin: 0;
}